DATABASE_URL="postgresql://postgres:password@localhost:5432/adhd?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
FRONTEND_URL="http://localhost:3000"
REDIS_URL="redis://localhost:6379"
PORT=5000
NODE_ENV=development
